{%extends "base.html"%}
{%block title%} {{block.super}} | SEARCH TWEETS {%endblock title%}
{%block content%}


  {%if not request.GET.search_word%}


      {%include "tweets/form.html" with form=create_form action_url=create_url btn_title="tweet"%}

  {%endif%}

{%for object in object_list%}
<div class="row">
  <div class="col-sm-12 text-center">


<div class="media">

  <div class="media-body">
    <h4 class="media-heading">{{object.content}}</h4><br>
    by :{{object.user}} |{{object.timestamp | timesince }} ago |<a href=" {% url "tweets:details" object.id %}" > View</a> <br />
    <hr />


  </div>
  </div>
  </div>
</div>
</div>
<br />
{% empty %}

    <li>No Tweets yet.</li>
{%endfor%}
{%endblock content%}
