{%extends "base.html"%}

{%block title%} {{block.super}} | SEARCH TWEETS {%endblock title%}
{%block script%}
<script>
  $.urlParam = function (name) {
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);

    if (results == null) {
      return null;
    }
    return decodeURI(results[1]);
  }
  $(document).ready(function () {
    var query = $.urlParam("search");
    var tweetlist = [];
    var tweetLinkNext;
    var url;

    function attach_tweets(value, append) {


      var TweetUser = value.user;
      var TweetContent = value.content;
      var TweetTimeSince = value.time_since;
      var TweetDateDisplay = value.date_display;
      var TweetOwner = value.url;
      var TweetFormat = "<div class=\"media\">" + "<div class=\"media-body\">" +
        "<h4 class=\"media-heading\">" + TweetContent + "<\h4>" +
        "<br />" + "<h5>" + " via <a href=' " + TweetOwner + "'>" + TweetUser.username +
        "</a> |" + "<a href='#'> View</a>" + "<\h5><br />" + "<h6>" + TweetTimeSince +
        " at " + TweetDateDisplay + "</h6></div></div><hr />"

      if (append == true) {
        $("#tweet").append(TweetFormat);
      } else {
        $("#tweet").prepend(TweetFormat);
      }

    }

    function parsetweet(data) {
      if (data == 0) {
        $("#tweet").append(
          "<h4>" + "no tweets found" + "</h4>"
        );
      } else {
        $.each(data, function (key, value) {

          attach_tweets(value, true);
        });
      };
    }



    function fetch_tweets(url) {
      if (!(url)) {
        url = "/api/tweet/"
      }

      $.ajax({
        url: url,
        data: {
          "search": query

        },
        method: "GET",
        success: function (data) {
          console.log(data)
          if (data.next) {
            tweetLinkNext = data.next;
          } else {
            $("#load-more").css("display", "none")
          }
          parsetweet(data.results);

        },

        error: function (data) {
          console.log("error")
          console.log(data);
        }

      })
    }
    fetch_tweets(url);
    var charsStart = 140;
    var charsCount = 0;


    $('#create_form').submit(function (event) {
      event.preventDefault();
      var this_ = $(this)
      var form_data = this_.serialize()
      console.log(form_data)
      if (charsCount > 0) {
        $.ajax({
          url: "/api/tweet/",
          data: form_data,
          method: "POST",
          success: function (data) {
            this_.find("textarea").val("")
            console.log(data);
            attach_tweets(data, false)
          },

          error: function (data) {
            console.log("error on create")
          }

        })
      } else {
        console.log("error chars are zero or above 140")
      }


    })



    $("#create_form").append("<span id='spanChars'>" + charsStart + "</span>")
    $("#create_form textarea").keyup(function (event) {
      var tweetValue = $(this).val()
      charsCount = charsStart - tweetValue.length
      $("#spanChars").text(charsCount)
      var spanChars = $("#spanChars")
      if (charsCount > 0) {
        spanChars.removeClass("grey-color");
        spanChars.removeClass("red-color");
      } else if (charsCount == 0) {
        spanChars.addClass("grey-color");
        spanChars.removeClass("red-color");

      } else if (charsCount < 0) {
        spanChars.removeClass("grey-color");
        spanChars.addClass("red-color");
      }

    })

    $("#load-more").click(function (event) {
      if (tweetLinkNext) {
        fetch_tweets(tweetLinkNext);
      }
    })
  })
</script>
{%endblock%}



{%block content%}


<div class='row'>
  <div class="col-sm-3 col-xs-12">

    <h1>{{request.user}}</h1>
  </div>
  <div class="col-sm-9">
    {%if not request.GET.search%}

    {%include "tweets/form.html" with form=create_form action_url=create_url btn_title="tweet" id="create_form"%}
    <hr />

    {%endif%}
    <div id="tweet"></div>
    <button type="submit" id="load-more" class="btn btn-info"> more tweets</button>
    <br />
    <br />



    {%endblock content%}
  </div>
</div>